

.parent{
	display:flex;
	justify-content:center;
	border:solid 1px #6666;
	border-radius:15px;
	padding:2px
}
.app{
	border:solid 3px #666;
	border-radius:15px;
	padding:5px;
}
.header{
	color:#f66;
	font-weight:bolder;
	font-size:15px;
	text-align:center;
	margin-bottom:2px;
}

.body{
	display:flex;
}

.controls{
	display:flex;
	flex-direction:column;
	align-items:center;
}

.nextBlock{
	border:solid 3px #666;
	width:40px;
	height:40px;
	margin:5px 10px 5px 5px;
}
.button{
	width:75%;
	margin:2px;
	padding:5px;
	border-radius:15px;
	background-color:#88f;
}

.button:hover{
	background-color:#66f;
}

.button:active{
	background-color:#44f;
}

.blocksField{
	border:solid 3px #666;
	width:200px;
	height:400px;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
/*	grid-template-rows:20 * 1fr;*/
}

.blockActive{
	background:#fa6;
}

.blockLimits{
	background:#333;
}
