body{
	background:linear-gradient(to bottom, #ffc, #8f8);
	height:100vh;
	display:flex;
	align-items:center;
	justify-content:center;
}

.parent{
	display:flex;
	justify-content:center;
/*	border:solid 1px #333;*/
/*	padding:2px;*/
/* border-radius:15px; */
}
.app{
	border:solid 3px #333;
	border-radius:15px;
	padding:5px;
	background-color:#acf;
}
.header{
	color:#333;
	font-weight:bolder;
	font-size:15px;
	text-align:center;
	margin-bottom:2px;
	background-color:#9be;
	border-radius:15px;
}
.body{
	display:flex;
}
.controls{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.nextBlock{
	border:solid 3px #333;;
	width:40px;
	height:40px;
	margin:5px 10px 5px 5px;
	background-color:#fff;
}

.arrow{
	font-size:15px;
	font-weigth:bolder;
}
.button{
	width:75%;
	margin:12px 2px 12px 2px;
	padding:5px;
	border-radius:15px;
	background-color:#88f;
}
.button:hover{
	background-color:#66f;
}
.button:active{
	background-color:#44f;
}
.blocksField{
	border:solid 3px #333;
	width:200px;
	height:400px;
	display:grid;
	background-color:#fff;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.blockActive{
	background:#f9f;
}
.blockLimits{
	background:#444;
}
